<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBRCLD - Confirmation</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
          integrity="sha256-aPeK/N8IHpHsvPBCf49iVKMdusfobKo2oxF8lRruWJg=" crossorigin="anonymous">
    <style>
        body {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title is-3">Confirmation</h1>
            <p class="subtitle">Your email address will be changed to <strong>@(ViewBag.NewEmail)</strong></p>
            @using (Html.BeginForm("ChangeEmailConfirmation", "Account", FormMethod.Post))
            {
                <button type="submit" class="button is-link">Confirm</button>
                @Html.Hidden("currentEmail", ViewBag.CurrentEmail, null)
                @Html.Hidden("newEmail", ViewBag.NewEmail, null)
                @Html.Hidden("token", ViewBag.Token, null)
                @Html.AntiForgeryToken()
            }
        </div>
    </section>
</body>
</html>
